include *.py
include LICENSE
include README.md
include README_MODERN.md
include py.typed
include requirements-dev.txt
exclude run_tests.py
recursive-include ordlookup *.py
prune tests
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
